body {
    background-color: bisque;
}


p {
    font-family: sans-serif;
}

p:hover {
    border: 2px solid black;
    border-radius: 5px;
}

/* #one {
    color: blue;
}
#two {
    color: orange;
}

#three {
    color: brown;
}

#four {
    color: magenta;
}

.bordered {
    border: 2px solid black;
}

.background-black {
    background-color: black;
} */



